        </section>

        <aside id="sidebar">
          <p>This project gathers white-labeled microsite templates for easy re-use by government agencies (or anyone else!).  You can view each template by clicking the first link, then find the associated code in the second link.  On the code page, simply click the `fork` button in the top right to make a copy that you can then customize to your needs.</p>
          <p>* <a href="https://github.com/USG-Website-Templates/USG-Website-Templates.github.io#readme">How To Make A New Site</a><br>
          * <a href="https://github.com/USG-Website-Templates/USG-Website-Templates.github.io/issues">Questions?  Need Help?</a>
          </p>
        </aside>
      </div>
    </div>

  
  </body>
</html>
